<div class="p-4">
    <div class="container">
        <h1>Hi {{account.firstName}}!</h1>
        <div *ngIf="!isLoading" style="display: block; width: 100%; height: 200px;">
            <canvas baseChart width="400" height="200"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins">
            </canvas>
          </div>
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
          
    </div>
</div>